h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;

  small {
    font-weight: normal;
    font-size: 0.8em;
    color: #717171;
  }
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  line-height: 1.5;
}
