@import "../../assets/style/variables";

.header {
  padding: $padding-box;
  background-color: $color-branding-primary;
  color: white;

  &__logo {
    font-size: 3.2rem;
  }


  &__right {
    h1 {
      font-size: 2rem;
    }
  }
}
